<%- include('header') %>
    <link rel="stylesheet" href="css/mainForm.css">

<body style="text-align: center;">
    <h1>Leave Your Message here</h1>

    <div  class="contact">

        <form action="mailto:muhammadsumair5736@gmail.com" method="post" enctype="text/plain">
            <img src="images/contactUs.png" alt="Contact Us">
            <div>
                <label>Your Name :</label><br>
                <input type="text" name="YourName" placeholder="Enter your name"><br>
                <label>Your Email :</label><br>
                <input type="email" name="YourEmails" placeholder="Enter your email"><br>
                <label>Your Message : </label><br>
                <textarea name="YourMessage" id="" cols="20" rows="7" placeholder="Write your message here!"></textarea><br>
                <button type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </button>
            </div>
        </form>

    </div>
</body>
</html>