

    <!-- #################################   Home Page  #################################  -->

    <link rel="stylesheet" href="css/footer.css">
    <div class="footer">
        <a class="footer-link" href="https://github.com/Zain-Razzaq/uniFinder">GitHub</a>
        <a class="footer-link" href="https://www.instagram.com/m._.sumair/">Instagram</a>
        <a class="footer-link" href="https://www.facebook.com/sumair.hanif.77/">Facebook</a>
        <p class="copyright">Copyright © Uni-Finder</p>
    </div>

</body>

</html>