

    <!-- #################################   Home Page  #################################  -->
    <div class="container">
        <div class="homeBG"></div>
        <div class="center">
            <h2>Discover Your Path to Success with Our Comprehensive Collection OF Information On Pakistan's Top
                Universities</h2>
            <div class="homeButtons">
                <a href="./signup/signup.html">
                    <button class="homeB">Sign up
                        <span></span>
                    </button>
                </a>
                <a href="./loginPage/login.html">
                    <button class="homeB">Login
                        <span></span>
                    </button>
                </a>
            </div>
        </div>
    </div>




</body>

</html>