<%- include('header') %>
    <link rel="stylesheet" href="css/index.css">
    <!-- #################################   Home Page  #################################  -->
    <div class="container">
        <div class="homeBG"></div>
        <div class="center">
            <h2>Discover Your Path to Success with Our Comprehensive Collection OF Information On Pakistan's Top
                Universities</h2>
            <div class="homeButtons">
                <a href="/signUp">
                    <button class="homeB">Sign up
                        <span></span>
                    </button>
                </a>
                <a href="/login">
                    <button class="homeB">Login
                        <span></span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="Counter-div">
        <div class="counter c1"><b>+</b> <h2> Cities</h2></div>
        <div class="counter c2"> <b>+</b><h2> Universities</h2></div>
        <div class="counter c3"> <b>+</b><h2> Degrees</h2></div>
    </div>

    <div class="About-us">
        <img  src="images/About_us.jpg" alt="About us">
        <div class="about-desc">
            <h2>About us</h2>
        <p>
            Welcome to our university recommendation 
            We understand that choosing the right university can be overwhelming, with so many options to consider. 
            That's why we've developed an intuitive and easy-to-use recommendation system that takes into account a variety 
            of factors such as academic interests, location, tuition costs, and student life. Our platform provide personalized
            recommendations based on factors such as academic interests,location, and tuition costs. We are committed to providing 
            accurate and up-to-date information to help students make informed decisions about their future.
        </p>

        </div>
        

    </div>

    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>You can contact me on Following given sites/platforms.</h3>
        <p>If You have any Query and question then you can click on the button below to send message on my email.</p>
        <button type="submit" href="/contact-us" class="btn btn-dark btn-lg">Contact me</button>
    </div>

    </body>

    </html>