<%- include('header') %>
    <link rel="stylesheet" href="css/login.css">
    </nav>
    <dir class="bgImage"></dir>
    <div class="login-box">
        <p>Login</p>
        <form id="logInForm" action="/login" method="post">
            <div class="user-box">
                <input required="" name="userEmail" type="text">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input required="" name="userPassword" type="password">
                <label>Password</label>
            </div>
            <a href="javascript:{}" onclick="document.getElementById('logInForm').submit();">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Log IN
            </a>
        </form>
        <p>Don't have an account? <a href="/signup" class="a2">Sign up!</a></p>
    </div>


    </body>

    </html>