<%- include('header') %>
    <link rel="stylesheet" href="css/mainForm.css">


    <!-- #################################   Main Form  #################################  -->

    <h1>Match Your Ambition</h1>
    <div class="container">


        <form action="">
            <!-- <div class="form-group"> -->
            <div class="row">
                <div class="col">
                    <label for="">Degree Level</label>
                    <select class="form-control form-control-sm" name="" id="">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="">Bachelors</option>
                        <option value="">Masters</option>
                        <option value="">PhD</option>
                    </select>
                </div>
                <div class="col">
                    <label for="">Degree</label>
                    <select class="form-control form-control-sm" name="" id="">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="">Computer Science</option>
                        <option value="">Electrical Engineering</option>
                        <option value="">Mechanical Engineering</option>
                        <option value="">Civil Engineering</option>
                        <option value="">Chemical Engineering</option>
                        <option value="">Biomedical Engineering</option>
                        <option value="">Aeronautical Engineering</option>
                        <option value="">Agricultural Engineering</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Sector</label>
                    <select class="form-control form-control-sm" name="" id="">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="">Public</option>
                        <option value="">Private</option>
                    </select>
                </div>
                <div class="col">
                    <label for="">University Type</label>
                    <select class="form-control form-control-sm" name="" id="">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="">Medical</option>
                        <option value="">Engineering</option>
                        <option value="">Business</option>
                        <option value="">General</option>
                        <option value="">Law</option>
                        <option value="">IT</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">City</label>
                    <select class="form-control form-control-sm" name="" id="">
                        <option value="none" selected disabled hidden>Select an Option</option>
                        <option value="">Lahore</option>
                        <option value="">Karachi</option>
                    </select>
                </div>
            </div>

            <button type="submit" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Search</button>
            <!-- </div> -->

        </form>

    </div>