@font-face {
    font-family: 'heading';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}




/* #################################  HomePage  ################################# */
.container {
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homeBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.548)), url(../images/ITU.png);
    background-size: cover;
}


.center {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.center h2 {
    color: aliceblue;
    text-align: center;
    /* text-align: justify; */
    font-family: heading;
    font-size: 3rem;
    line-height: 5rem;
}

.center .homeButtons {
    display: flex;
    justify-content: center;
}

.center .homeButtons button {
    margin: 1em 1em;
}


/* #################################  HomePage Buttons  ################################# */


.homeB {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: rgb(12, 168, 168);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

.homeB span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid rgb(12, 168, 168);
}

.homeB span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.5s;
}

.homeB:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: rgb(12, 168, 168);
}

.homeB:hover {
    color: white;
}

.homeB:active span::before {
    background: rgb(12, 168, 168);
}


.homeButtons a {
    text-decoration: none;
}

/* #################################  Responsive HomePage Center  ################################# */


@media screen and (max-width: 1000px) {
    .center h2 {
        font-size: 3rem;
        line-height: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .center h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .homeB {
        padding: 0.7em 2em;
    }
}

@property --num {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
    
  }
  
  .c1::before{
    counter-reset: my-counter var(--num);
    content: counter(my-counter);
    animation: count1 7s forwards;
  }
  
  @keyframes count1 {
    to { --num: 50;}
  }
  
  .c2::before{
    counter-reset: my-counter var(--num);
    content: counter(my-counter);
    animation: count2 6s forwards;
  }
  
  @keyframes count2 {
    to { --num: 220;}
  }

  .c3::before{
    counter-reset: my-counter var(--num);
    content: counter(my-counter);
    animation: count3 5s forwards;
  }
  
  @keyframes count3 {
    to { --num: 160;}
  }
  /* everything below is for demo appearances and not important to the concept */
  
.contact-me{
    width: 40%;
    margin: 20px auto;
}

.contact-me h2{
    text-align: center;
}

.contact-me{
    text-align: left;
}

.btn{
    background-color: rgb(12, 168, 168);
    border-color: rgb(12, 168, 168);
}


.counter{
    height: 15vh;
    text-align: center;
    color: rgb(12, 168, 168);
    font-family:heading;
    font-size: 2.5rem;
}
  
.Counter-div {
    padding: 0 330px;
    max-width: 100vw;
    width: 200px;
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.About-us{
    display: flex;
    width: 70%;
    margin: 100px auto;
    text-align: left;
}

.About-us img{
    width: 50%;
    height: 50%;
}

.about-desc p{
    font-size: 1.5rem;
    text-align: justify;
}

.about-desc{
    margin: 30px;
}

.contact-us{

    width: 70%;
    margin: 100px auto;
    text-align: center;
}

.contact-us p{
    font-size: 1.5rem;
    text-align: justify;
}
